/* Style for my resume */

/* default setting*/
BODY {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

/* Name styling */
#name {
    font-size: 3em;
    color: #33485e;
    text-transform: UPPERCASE;
    text-align: center;
    border-bottom: 1px solid #33485e;
    width: 60%;
    max-width: 300px;
    margin: 0 auto;
}

/* Section head styling */
h2 {
    font-size: 1em;
    text-transform: UPPERCASE;
    background-color: #33485e;
    color: white;
}

/* Job location styling */
h3 {
    font-size: 1em;
    font-weight: 600;
}

/* Job title styling */
h4 {
    font-size: 1.5em;
}

/* Job time styling */
h5 {
    font-size: 1em;
    font-style: italic;
}

/* List styling */
li {
    font-size: 1em;
}
