/* Style for my resume */

/* default setting*/
BODY {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

/* Name styling */
#name {
    font-size: 3em;
    color: #33485e;
    text-transform: UPPERCASE;
    text-align: center;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

/* Section head styling */
#sectionheader {
    font-size: 1em;
    text-transform: UPPERCASE;
    background-color: #33485e;
    color: white;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 70%;
    min-width: 300px;
}

/* Job title styling */
#jobtitle {
    font-size: 1em;
    font-weight: 600;
}

/* Job location styling */
#organization {
    font-size: 1.25em;
}

/* Job time styling */
#date {
    font-size: 1em;
    font-style: italic;
    margin-top: 2px;

}

/* List styling */
li {
    font-size: 1em;
}
