/*Default settings for the page*/
#container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

/*Headline settings*/
h1 {
    font-family: 'DM Serif Display', 'Garamond' serif;
    max-width: 1920px;
    font-size: 4em;
    text-align: center;
    background-color: #7e366d;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    margin-bottom: 5px;
}

figcaption {
    font-family: 'Helvetica','sans-serif';
    font-size: 11px;
    color: rgb(172, 172, 172);
}
/*Image setup in site*/
img {
    width: 100%;
    margin-top: 10px;
}

p {
    width: 80%;
    margin: 0 auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
}

h2 {
    width: 80%;
    margin: 0 auto;
    font-family: 'DM Serif Display', 'Garamond' serif;
    font-size: 25px;
    color: #7e366d;
}

h3 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    color: rgb(109, 108, 108);

}

ul {
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 14px;
}

blockquote {
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
    border-top: 5px solid;
    border-color: #7e366d;
    border-bottom: 5px solid;
    color: #7e366d;
}
